node_modules
/build
/build-static
/build-gh
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.sample

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
